{% extends 'blog/base.html' %}

{% block content %}
    <h1>New post</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {# as_p pタグで要素を書く #}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <form method="POST" class="post-form">{% csrf_token %}
        {# as_table tableで要素を書く #}
        {{ form.as_table }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>
    <form method="POST" class="post-form">{% csrf_token %}
        {# ul・liで要素を書く #}
        {{ form.as_ul }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>

{% endblock content %}
